.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-size: 13px;
  color: black;
}

.grid-row {
  display: flex;
}

.grid-cell {
  width: 19px;
  height: 19px;
  border: 1px solid lightgray;
  text-align: center;

  cursor: pointer;
  user-select: none;
}
