.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.grid-row {
  display: flex;
}

.grid-cell {
  width: 21px;
  height: 21px;
  border: 1px solid lightgray;
  text-align: center;

  cursor: pointer;
  user-select: none;
}
